In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import itertools
import warnings
warnings.filterwarnings('ignore')

In [4]:
filename1 = '/home/jovyan/work/data/revolut/rev-devices.csv'
filename2 = '/home/jovyan/work/data/revolut/rev-notifications.csv'
filename3 = '/home/jovyan/work/data/revolut/rev-transactions.csv'
filename4 = '/home/jovyan/work/data/revolut/rev-users.csv'

In [11]:
rev_devices = pd.read_csv(filename1)
rev_notifications = pd.read_csv(filename2)
rev_transactions = pd.read_csv(filename3)
rev_users = pd.read_csv(filename4)

### Devices

In [16]:
rev_devices.shape

(19430, 2)

In [15]:
rev_devices['user_id'].nunique()

19430

              brand
user_id
user_3257   Android
user_6809     Apple
user_9144   Android
user_3636     Apple
user_5970   Android
...             ...
user_18696    Apple
user_16188  Android
user_10190  Android
user_14554  Android
user_16551    Apple

[19430 rows x 1 columns]

### notifications

In [21]:
rev_notifications

,reason,channel,status,user_id,created_date
0,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_7086,2018-12-02 17:58:33.320645
1,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_6598,2018-12-01 23:09:37.367127
2,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_4151,2018-12-04 02:57:56.425660
3,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_1408,2018-12-11 02:04:46.284683
4,REENGAGEMENT_ACTIVE_FUNDS,PUSH,SENT,user_6292,2018-12-14 17:09:58.900808
...,...,...,...,...,...
121808,LOST_CARD_ORDER,EMAIL,SENT,user_12687,2019-05-07 12:26:28.185772
121809,LOST_CARD_ORDER,EMAIL,SENT,user_16875,2019-05-10 01:25:42.530159
121810,LOST_CARD_ORDER,EMAIL,SENT,user_17426,2019-05-09 08:42:00.245644
121811,LOST_CARD_ORDER,EMAIL,SENT,user_15880,2019-05-10 23:01:30.998474
121812,LOST_CARD_ORDER,EMAIL,SENT,user_11214,2019-05-11 04:08:43.827505

In [22]:
rev_notifications['reason'].unique()

array(['REENGAGEMENT_ACTIVE_FUNDS', 'PUMPKIN_PAYMENT_NOTIFICATION',
       'NO_INITIAL_CARD_USE', 'ENGAGEMENT_SPLIT_BILL_RESTAURANT',
       'METAL_RESERVE_PLAN', 'ONBOARDING_TIPS_ACTIVATED_USERS',
       'MADE_MONEY_REQUEST_NOT_SPLIT_BILL',
       'PREMIUM_ENGAGEMENT_INACTIVE_CARD', 'NO_INITIAL_CARD_ORDER',
       'PREMIUM_ENGAGEMENT_FEES_SAVED', 'FIFTH_PAYMENT_PROMO',
       'WELCOME_HOME', 'NO_INITIAL_FREE_PROMOPAGE_CARD_ORDER',
       'LOST_CARD_ORDER', 'BLACK_FRIDAY', 'METAL_GAME_START',
       'JOINING_ANNIVERSARY'], dtype=object)

In [23]:
rev_notifications['channel'].unique()

array(['PUSH', 'SMS', 'EMAIL'], dtype=object)

In [24]:
rev_notifications['status'].unique()

array(['SENT', 'FAILED'], dtype=object)

In [25]:
rev_notifications['created_date'].unique()

array(['2018-12-02 17:58:33.320645', '2018-12-01 23:09:37.367127',
       '2018-12-04 02:57:56.425660', ..., '2019-05-09 08:42:00.245644',
       '2019-05-10 23:01:30.998474', '2019-05-11 04:08:43.827505'],
      dtype=object)