In [5]:
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

def unqiue_values_table(df):
    unq_val = df.nunique()
    unq_val_percent = 100 * df.nunique() / len(df)
    unq_val_table = pd.concat([unq_val, unq_val_percent], axis=1)
    unq_val_table_ren_columns = unq_val_table.rename(
    columns = {0 : 'Unique Values', 1 : '% of Total Values'})
    unq_val_table_ren_columns = unq_val_table_ren_columns[
        unq_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    'Unique Values', ascending=False).round(2)
    print ("Your selected dataframe has " + str(df.shape[0]) + " rows "       
        "and " + str(df.shape[1]) + " columns.")
    return unq_val_table_ren_columns

def date_conversion(df):
    df['created_date'] = pd.to_datetime(df['created_date'])
    return df

def missing_drop_col(df,threshold):
    return df.drop(df.columns[df.apply(lambda col: (col.isnull().sum() / len(df) > threshold))], axis=1)

def unique_values_col(df,threshold):
    return df.drop(df.columns[df.apply(lambda col: (col.isnull().sum() / len(df) > threshold))], axis=1)

In [6]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import itertools
import warnings
warnings.filterwarnings('ignore')

In [128]:
filename2 = '/home/jovyan/work/data/revolut/rev-transactions.csv'
rev_transactions = pd.read_csv(filename2)
df_rev_transactions = rev_transactions.copy()

In [141]:
df=df_rev_transactions.set_index("transaction_id").copy()
df = missing_drop_col(df, 0.4)

In [142]:
df['transStateType']=df['transactions_type'] + "_" +df['transactions_state']

df.drop(columns={'transactions_state','transactions_type','created_date'},inplace = True)
df.head(2)

,transactions_currency,amount_usd,direction,user_id,transStateType
transaction_id,,,,,
transaction_0,AED,4.55,OUTBOUND,user_898,TRANSFER_COMPLETED
transaction_1,AED,15.50,OUTBOUND,user_1652,CARD_PAYMENT_COMPLETED

In [143]:
res = pd.get_dummies(df[['transStateType']])
for col in list(res.columns):
    res[col] = pd.to_numeric(res[col], errors='coerce').astype('Int64')
    
mergedDf = df[['user_id','direction','transactions_currency','amount_usd']].merge(res,how='inner' ,left_index=True, right_index=True)
mergedDf.head(2)

,user_id,direction,transactions_currency,amount_usd,transStateType_ATM_COMPLETED,transStateType_ATM_DECLINED,transStateType_ATM_PENDING,transStateType_ATM_REVERTED,transStateType_CARD_PAYMENT_COMPLETED,transStateType_CARD_PAYMENT_DECLINED,...,transStateType_TOPUP_COMPLETED,transStateType_TOPUP_FAILED,transStateType_TOPUP_PENDING,transStateType_TOPUP_REVERTED,transStateType_TRANSFER_CANCELLED,transStateType_TRANSFER_COMPLETED,transStateType_TRANSFER_DECLINED,transStateType_TRANSFER_FAILED,transStateType_TRANSFER_PENDING,transStateType_TRANSFER_REVERTED
transaction_id,,,,,,,,,,,,,,,,,,,,,
transaction_0,user_898,OUTBOUND,AED,4.55,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
transaction_1,user_1652,OUTBOUND,AED,15.50,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [144]:
mergedDf

Index(['user_id', 'direction', 'transactions_currency', 'amount_usd',
       'transStateType_ATM_COMPLETED', 'transStateType_ATM_DECLINED',
       'transStateType_ATM_PENDING', 'transStateType_ATM_REVERTED',
       'transStateType_CARD_PAYMENT_COMPLETED',
       'transStateType_CARD_PAYMENT_DECLINED',
       'transStateType_CARD_PAYMENT_PENDING',
       'transStateType_CARD_PAYMENT_REVERTED',
       'transStateType_CARD_REFUND_COMPLETED',
       'transStateType_CARD_REFUND_DECLINED',
       'transStateType_CASHBACK_COMPLETED', 'transStateType_CASHBACK_DECLINED',
       'transStateType_CASHBACK_PENDING', 'transStateType_EXCHANGE_COMPLETED',
       'transStateType_EXCHANGE_REVERTED', 'transStateType_FEE_COMPLETED',
       'transStateType_REFUND_COMPLETED', 'transStateType_TAX_COMPLETED',
       'transStateType_TAX_PENDING', 'transStateType_TAX_REVERTED',
       'transStateType_TOPUP_COMPLETED', 'transStateType_TOPUP_FAILED',
       'transStateType_TOPUP_PENDING', 'transStateType_TOPUP_REVERTED',
       'transStateType_TRANSFER_CANCELLED',
       'transStateType_TRANSFER_COMPLETED', 'transStateType_TRANSFER_DECLINED',
       'transStateType_TRANSFER_FAILED', 'transStateType_TRANSFER_PENDING',
       'transStateType_TRANSFER_REVERTED'],
      dtype='object')

In [147]:
mergedDf.groupby(['user_id', 'direction'])[
       'transStateType_ATM_COMPLETED', 'transStateType_ATM_DECLINED',
       'transStateType_ATM_PENDING', 'transStateType_ATM_REVERTED',
       'transStateType_CARD_PAYMENT_COMPLETED',
       'transStateType_CARD_PAYMENT_DECLINED',
       'transStateType_CARD_PAYMENT_PENDING',
       'transStateType_CARD_PAYMENT_REVERTED',
       'transStateType_CARD_REFUND_COMPLETED',
       'transStateType_CARD_REFUND_DECLINED',
       'transStateType_CASHBACK_COMPLETED', 'transStateType_CASHBACK_DECLINED',
       'transStateType_CASHBACK_PENDING', 'transStateType_EXCHANGE_COMPLETED',
       'transStateType_EXCHANGE_REVERTED', 'transStateType_FEE_COMPLETED',
       'transStateType_REFUND_COMPLETED', 'transStateType_TAX_COMPLETED',
       'transStateType_TAX_PENDING', 'transStateType_TAX_REVERTED',
       'transStateType_TOPUP_COMPLETED', 'transStateType_TOPUP_FAILED',
       'transStateType_TOPUP_PENDING', 'transStateType_TOPUP_REVERTED',
       'transStateType_TRANSFER_CANCELLED',
       'transStateType_TRANSFER_COMPLETED', 'transStateType_TRANSFER_DECLINED',
       'transStateType_TRANSFER_FAILED', 'transStateType_TRANSFER_PENDING',
       'transStateType_TRANSFER_REVERTED'].apply(lambda x : x.astype(int,float).sum()).reset_index()

,user_id,direction,transStateType_ATM_COMPLETED,transStateType_ATM_DECLINED,transStateType_ATM_PENDING,transStateType_ATM_REVERTED,transStateType_CARD_PAYMENT_COMPLETED,transStateType_CARD_PAYMENT_DECLINED,transStateType_CARD_PAYMENT_PENDING,transStateType_CARD_PAYMENT_REVERTED,...,transStateType_TOPUP_COMPLETED,transStateType_TOPUP_FAILED,transStateType_TOPUP_PENDING,transStateType_TOPUP_REVERTED,transStateType_TRANSFER_CANCELLED,transStateType_TRANSFER_COMPLETED,transStateType_TRANSFER_DECLINED,transStateType_TRANSFER_FAILED,transStateType_TRANSFER_PENDING,transStateType_TRANSFER_REVERTED
0,user_0,INBOUND,0,0,0,0,0,0,0,0,...,59,4,0,4,0,0,0,0,0,0
1,user_0,OUTBOUND,7,0,0,0,186,20,0,11,...,0,0,0,0,0,36,0,0,0,0
2,user_1,INBOUND,0,0,0,0,0,0,0,0,...,31,0,0,0,0,0,0,0,0,0
3,user_1,OUTBOUND,0,0,0,0,69,11,0,3,...,0,0,0,0,1,11,0,0,0,0
4,user_10,INBOUND,0,0,0,0,0,0,0,0,...,115,99,0,54,0,12,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36441,user_9997,OUTBOUND,1,0,0,0,25,1,0,2,...,0,0,0,0,1,40,0,0,0,0
36442,user_9998,INBOUND,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
36443,user_9998,OUTBOUND,0,0,0,0,3,0,0,2,...,0,0,0,0,0,0,0,0,0,0
36444,user_9999,INBOUND,0,0,0,0,0,0,0,0,...,10,0,0,1,0,1,0,0,0,0
36445,user_9999,OUTBOUND,1,0,0,0,23,3,0,0,...,0,0,0,0,0,41,0,0,0,0