In [37]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import itertools
import warnings
warnings.filterwarnings('ignore')

In [38]:
# For Laptop

filename1 = '/home/jovyan/work/data/revolut/rev-devices.csv'
filename2 = '/home/jovyan/work/data/revolut/rev-notifications.csv'
filename3 = '/home/jovyan/work/data/revolut/rev-transactions.csv'
filename4 = '/home/jovyan/work/data/revolut/rev-users.csv'

rev_devices = pd.read_csv(filename1)
rev_notifications = pd.read_csv(filename2)
rev_transactions = pd.read_csv(filename3)
rev_users = pd.read_csv(filename4)

In [106]:
df_rev_devices = rev_devices.copy()
df_rev_notifications = rev_notifications.copy()
df_rev_transactions = rev_transactions.copy()
df_rev_users = rev_users.copy()

# DATA PREPROCESSING

In [40]:
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [41]:
missing_values_table(df_rev_devices)

Your selected dataframe has 2 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [42]:
missing_values_table(df_rev_notifications)

Your selected dataframe has 5 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [43]:
missing_values_table(df_rev_devices)

Your selected dataframe has 2 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

### USERS

In [114]:
missing_values_table(df_rev_users)

Your selected dataframe has 12 columns.
There are 2 columns that have missing values.

                                          Missing Values  % of Total Values
attributes_notifications_marketing_push             6610               34.0
attributes_notifications_marketing_email            6610               34.0

In [115]:
df_rev_users["attributes_notifications_marketing_push"].fillna("-1", inplace = True)
df_rev_users["attributes_notifications_marketing_email"].fillna("-1", inplace = True)
df_rev_users['created_date'] = pd.to_datetime(df_rev_users['created_date'])

In [116]:
df_rev_users.dtypes

user_id                                             object
birth_year                                           int64
country                                             object
city                                                object
created_date                                datetime64[ns]
user_settings_crypto_unlocked                        int64
plan                                                object
attributes_notifications_marketing_push             object
attributes_notifications_marketing_email            object
num_contacts                                         int64
num_referrals                                        int64
num_successful_referrals                             int64
dtype: object

###  Transactions

In [107]:
missing_values_table(df_rev_transactions)

Your selected dataframe has 12 columns.
There are 4 columns that have missing values.

                       Missing Values  % of Total Values
ea_cardholderpresence         1170594               42.7
ea_merchant_country           1158979               42.3
ea_merchant_city              1158794               42.3
ea_merchant_mcc               1158658               42.3

In [108]:
df_rev_transactions['ea_cardholderpresence'].unique()
df_rev_transactions['ea_cardholderpresence'].fillna("UNKNOWN", inplace = True)

In [109]:
df_rev_transactions['ea_merchant_mcc'].fillna("-1111", inplace = True)
df_rev_transactions['ea_merchant_mcc'] = pd.to_numeric(df_rev_transactions['ea_merchant_mcc'])

In [110]:
df_rev_transactions['ea_merchant_country'].fillna("UNKNOWN", inplace = True)

In [111]:
df_rev_transactions.drop(columns=['ea_merchant_city'], axis = 1,inplace = True)

In [118]:
df_rev_transactions['created_date'] = pd.to_datetime(df_rev_transactions['created_date'])
df_rev_transactions.head(5)

,transaction_id,transactions_type,transactions_currency,amount_usd,transactions_state,ea_cardholderpresence,ea_merchant_mcc,ea_merchant_country,direction,user_id,created_date
0,transaction_0,TRANSFER,AED,4.55,COMPLETED,UNKNOWN,-1111.0,UNKNOWN,OUTBOUND,user_898,2018-04-03 03:34:21.784487
1,transaction_1,CARD_PAYMENT,AED,15.50,COMPLETED,FALSE,4111.0,ARE,OUTBOUND,user_1652,2019-03-19 06:15:59.537032
2,transaction_2,CARD_PAYMENT,AED,43.40,COMPLETED,FALSE,5814.0,ARE,OUTBOUND,user_1652,2019-03-18 18:53:41.323032
3,transaction_3,TRANSFER,AED,10043.01,COMPLETED,UNKNOWN,-1111.0,UNKNOWN,OUTBOUND,user_1652,2019-03-22 14:20:01.513032
4,transaction_4,CARD_PAYMENT,AED,43.81,COMPLETED,FALSE,5651.0,ARE,OUTBOUND,user_5509,2019-03-22 05:42:50.316652

In [119]:
missing_values_table(df_rev_transactions)

Your selected dataframe has 11 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

In [120]:
df_rev_transactions.dtypes

transaction_id                   object
transactions_type                object
transactions_currency            object
amount_usd                      float64
transactions_state               object
ea_cardholderpresence            object
ea_merchant_mcc                 float64
ea_merchant_country              object
direction                        object
user_id                          object
created_date             datetime64[ns]
dtype: object