In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import itertools
import warnings
warnings.filterwarnings('ignore')

In [2]:
# For Laptop

filename1 = '/home/jovyan/work/data/revolut/rev-devices.csv'
filename2 = '/home/jovyan/work/data/revolut/rev-notifications.csv'
filename3 = '/home/jovyan/work/data/revolut/rev-transactions.csv'
filename4 = '/home/jovyan/work/data/revolut/rev-users.csv'

rev_devices = pd.read_csv(filename1)
rev_notifications = pd.read_csv(filename2)
rev_transactions = pd.read_csv(filename3)
rev_users = pd.read_csv(filename4)

### Null handling

In [10]:
rev_notifications.isna().sum()

reason          0
channel         0
status          0
user_id         0
created_date    0
dtype: int64

In [11]:
rev_devices.isna().sum()

brand      0
user_id    0
dtype: int64

In [12]:
rev_notifications.isna().sum()

reason          0
channel         0
status          0
user_id         0
created_date    0
dtype: int64

In [13]:
rev_transactions.isna().sum()

transaction_id                 0
transactions_type              0
transactions_currency          0
amount_usd                     0
transactions_state             0
ea_cardholderpresence    1170594
ea_merchant_mcc          1158658
ea_merchant_city         1158794
ea_merchant_country      1158979
direction                      0
user_id                        0
created_date                   0
dtype: int64

In [14]:
#rev_users.isna().sum()

user_id                                        0
birth_year                                     0
country                                        0
city                                           0
created_date                                   0
user_settings_crypto_unlocked                  0
plan                                           0
attributes_notifications_marketing_push     6610
attributes_notifications_marketing_email    6610
num_contacts                                   0
num_referrals                                  0
num_successful_referrals                       0
dtype: int64

In [17]:
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns


missing_values_table(rev_users)

Your selected dataframe has 12 columns.
There are 2 columns that have missing values.

                                          Missing Values  % of Total Values
attributes_notifications_marketing_push             6610               34.0
attributes_notifications_marketing_email            6610               34.0

### USERS

In [16]:
rev_users.head(10)

,user_id,birth_year,country,city,created_date,user_settings_crypto_unlocked,plan,attributes_notifications_marketing_push,attributes_notifications_marketing_email,num_contacts,num_referrals,num_successful_referrals
0,user_0,1989,PL,Gdansk,2018-01-13 05:15:15.599466,1,STANDARD,1.0,1.0,3,0,0
1,user_1,1975,GB,London,2018-01-29 03:38:46.676876,0,STANDARD,NaN,NaN,21,0,0
2,user_2,1987,PL,Pozna≈Ñ,2018-01-18 19:17:31.229096,0,STANDARD,0.0,0.0,21,0,0
3,user_3,1994,FR,Paris,2018-01-15 18:47:56.723104,0,STANDARD,1.0,0.0,0,0,0
4,user_4,1985,GB,Beckenham,2018-01-11 00:36:46.673673,0,STANDARD,NaN,NaN,2,0,0
5,user_5,1993,LT,Vilnius,2018-01-04 17:45:03.907804,1,STANDARD,NaN,NaN,0,0,0
6,user_6,1978,GB,Brighton,2018-01-24 19:04:50.876183,0,STANDARD,NaN,NaN,0,0,0
7,user_7,1989,RO,Bucharest,2018-01-11 19:11:45.757486,0,STANDARD,1.0,1.0,0,0,0
8,user_8,1981,GB,Fife,2018-01-03 07:28:59.063740,1,STANDARD,NaN,NaN,0,0,0
9,user_9,1965,PL,Mogilno,2018-01-09 10:21:19.452972,1,PREMIUM,NaN,NaN,32,0,0