In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline

import itertools
import warnings
warnings.filterwarnings('ignore')

In [6]:
# For Laptop

filename2 = '/home/jovyan/work/data/visa/data_sample.csv'
data_sample = pd.read_csv(filename2)
df_data = data_sample.copy()
df_data.head()

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15634602,Hargrave,619,France,Female,42,0.00,1,1,1,101348.88
1,15647311,Hill,608,Spain,Female,41,83807.86,1,0,1,112542.58
2,15619304,Onio,502,France,Female,42,159660.80,3,1,0,113931.57
3,15701354,Boni,699,France,Female,39,0.00,2,0,0,93826.63
4,15737888,Mitchell,850,Spain,Female,43,125510.82,1,1,1,79084.10

# DATA PREPROCESSING

In [3]:
def missing_values_table(df):
    mis_val = df.isnull().sum()
    mis_val_percent = 100 * df.isnull().sum() / len(df)
    mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
    mis_val_table_ren_columns = mis_val_table.rename(
    columns = {0 : 'Missing Values', 1 : '% of Total Values'})
    mis_val_table_ren_columns = mis_val_table_ren_columns[
        mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    '% of Total Values', ascending=False).round(1)
    print ("Your selected dataframe has " + str(df.shape[1]) + " columns.\n"      
        "There are " + str(mis_val_table_ren_columns.shape[0]) +
            " columns that have missing values.")
    return mis_val_table_ren_columns

In [4]:
def unqiue_values_table(df):
    unq_val = df.nunique()
    unq_val_percent = 100 * df.nunique() / len(df)
    unq_val_table = pd.concat([unq_val, unq_val_percent], axis=1)
    unq_val_table_ren_columns = unq_val_table.rename(
    columns = {0 : 'Unique Values', 1 : '% of Total Values'})
    unq_val_table_ren_columns = unq_val_table_ren_columns[
        unq_val_table_ren_columns.iloc[:,1] != 0].sort_values(
    'Unique Values', ascending=False).round(2)
    print ("Your selected dataframe has " + str(df.shape[0]) + " rows "       
        "and " + str(df.shape[1]) + " columns.")
    return unq_val_table_ren_columns

In [5]:
def date_conversion(df):
    df['created_date'] = pd.to_datetime(df['created_date'])
    return df

# EXPLORATORY DATA ANALYSIS

#### Missing Values

In [7]:
missing_values_table(df_data)

Your selected dataframe has 11 columns.
There are 0 columns that have missing values.

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

#### Unique Values

In [8]:
unqiue_values_table(df_data)

Your selected dataframe has 10000 rows and 11 columns.

                 Unique Values  % of Total Values
CustomerId               10000             100.00
EstimatedSalary           9999              99.99
Balance                   6382              63.82
Surname                   2932              29.32
CreditScore                460               4.60
Age                         70               0.70
NumOfProducts                4               0.04
Geography                    3               0.03
Gender                       2               0.02
HasCrCard                    2               0.02
IsActiveMember               2               0.02